.company-name {
    font-size: 29px!important;
    color: white;
}


#footer{
    padding-left: 10px;
    background-color: #2d2d30
    
}

#footer-container{
    padding-left: 10px;
    margin-left:10px;
  
}