.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;

  
}


.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
  padding-bottom: 0px;
  

}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color:white;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color:grey !important;
}
.dropdown-menu li a:hover {
  background-color: grey !important;
}


.nav-avatar{
  height: 27px;
  width: 27px;
  border-radius: 15%;
  margin-right: 7px;
  
}



.rightside-nav{
  margin-right: 35px;
}

.leftside-nav{
  margin-left: 70px!important;
}



#our-services{
  font-size: 16px;
  margin-left: 25px;
}

#our-company{
  font-size: 16px;
  margin-left: 2px;
}

#signup{
 background-color: grey; 
 padding-bottom: 3px;
}