.time {
    width: 155px;
    padding-right:0px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top:2px;
    margin-right: 3px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 50px;
    font-size: 17px;
    border-radius: 1%;
    background: white;
 }
 
 .header-time {
     margin-bottom:1px;
     margin-top:25px;
     padding-left:0px;
     padding-bottom:0px;
 }

 .request-form{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px!important;

}

.start-time {
    float: left;
}

.end-time{
    float: right;
}
